<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
{% block content %}
Login Form

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Login</button>
    <input type="hidden" name="next" value=""{{ request.GET.next }}">
    <p>Don't have an account? Create one <a href="/login/register/">here</a></p>
</form>
{% endblock %}
</html>
