<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

  <h1>Booking Summary</h1>
    <p>From: {{ start_stop }} To: {{ end_stop }}</p>
    <p>Departure Time: {{ departure_time }}</p>
    <p>Arrival Time: {{ arrival_time }}</p>
    <p>Bus Name: {{ bus_name }}, Bus Number: {{ bus_number }}</p>
    <h2>Passenger Details</h2>
    {% for passenger in passengers %}
      <h3>Passenger {{ forloop.counter }}</h3>
        <p>Name: {{ passenger.first_name }} {{ passenger.last_name }} Age: {{ passenger.age }}</p>
    {% endfor %}
    <p>Total price: {{ total_price }}</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Confirm Booking</button>   
    </form>
   
